a{
    text-decoration: none;
}
.category{
border-radius: 15px 4px 15px 4px;
}
.category:hover{
    box-shadow: 0px 0px 50px 0px #F5F8FF !important;
    scale: 1.01;
}
.companies-logo img{
border: 1px solid lightgray;
border-radius: 4px;
}
.activeCompanies-logo{
    border-radius: 4px;
}
.active-comapnies{
    border-radius: 15px 4px 15px 4px;
}
.active-comapnies:hover{
     box-shadow: 0px 0px 50px 0px #F5F8FF !important;
    scale: 1.01;
}
.compny-heading{
    border-radius: 15px 4px 15px 4px;
}

.company-decription span{
    border:  1px solid #ECF5FF ;
    padding: 2px 3px;
    border-radius: 20px;
    font-size: 10px;
}
.chips button span{
    font-size: 5px !important;
}
.listofInterviewQuestion ul li{
    padding: 10px 0px 10px 0px;
}
.listofInterviewQuestion ul li a{
    color: rgb(93, 92, 92) ;
}

.button{
    margin-top: 20px;
}
.button a{
    border: 1px solid #dbe4ed;
    border-radius: 25px;
    padding: 5px 10px;
    font-size: 14px;
    color: rgb(93, 92, 92) ;
    word-spacing: 2px;
}
.socialicons i{
    color: grey !important;
    cursor: pointer;
}
.footerlinks p{
    margin-bottom: 10px;
}
.footerlinks p a{
    font-size: 14px;
}

.footerlogo span{
    font-size: 11px;
    color: gray;
}
.business span{
    font-size: 14px;
    color: gray;;
}