.category{
border-radius: 15px 4px 15px 4px;
}

.companies-logo img{
border: 1px solid lightgray;
border-radius: 4px;
}
.active-comapnies{
    border-radius: 5px;
}
.compny-heading{
    border-radius: 15px 4px 15px 4px;
}